@use 'sass:math';
@import '../main.scss';

$root: '.MuiCard-root';

.Card {
  box-shadow: $shadow;
  border-radius: $border-radius;
  position: relative;
  :global(.MuiCardMedia-root) {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    border: getBorder(4px, solid, $primary, 1);
  }
  :global(.MuiCardContent-root) {
    text-align: center;
    :global(.MuiTypography-root) {
      margin-bottom: 5px;
      :global(.MuiIconButton-root) {
        color: white;
        background: $primary;
        &:global(.btn-view) {
          background: $secondary;
        }
        &:global(.btn-msg) {
          margin-left: 20px;
        }
      }
    }
  }
}

/*********** Card Action ************/

.MoreMenu {
  :global(.MuiMenu-paper) {
    border: getBorder();
    overflow: visible;
    padding: 0 8px;
    border-radius: math.div($border-radius-sm, 2);
    // box-shadow: 0 8px 16px 0 rgba($black, 0.04);
  }

  :global(.MuiMenu-paper)::after {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    top: 0;
    right: 14px;
    position: absolute;
    border-top: getBorder();
    border-left: getBorder();
    transform: translateY(-50%) rotate(45deg);
    background: #fff;
  }
  /* :global(.MuiMenu-list) {
  } */
}

/*********** Card Action Item ************/
.VerticalMenuItem {
  width: 40px;
  height: 40px;
}

.MenuItem {
  border-radius: math.div($border-radius-sm, 2);
  margin: 8px 0;
  transition: all 0.5s ease;
  &:hover {
    background: rgba($black, 0.1);
  }
  /* &:globa(.MuiMenuItem-root) {
  } */
}
