.Input {
  & > div {
    height: 42px;
    width: 250px;
    cursor: pointer;

    &:hover {
      border: transparent;
    }
  }
}

.Popover {
  width: 250px;
  transform: translate(-40px, 0) !important;
}
