.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridBox{
    height: 100%;
}
.gridContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.gridContentLogin{
    padding: 5em;
}
.gridItem{
    padding: 5px 0;
}
