.Modal {
  :global(.MuiDialogTitle-root) {
    position: relative;
    :global(.MuiIconButton-root) {
      position: absolute;
      right: 24px;
      top: 8px;
      width: 40px;
      height: 40px;
    }
  }
  :global(.MuiDialogActions-root) {
    padding: 0 24px 24px;
  }
}
