@import '../main.scss';

.Swal {
  :global(.MuiDialog-container) {
    :global(.MuiDialog-paper) {
      border-radius: $border-radius;
      :global(.MuiDialogContent-root) {
        :global(.MuiDialogContentText-root) {
          margin-top: 15px;
        }
      }
      :global(.MuiDialogActions-root) {
        padding: 0px 24px 20px;
        justify-content: center;
      }
    }
  }
}
