@import '../main.scss';

.Container {
  display: inline-flex;
  position: relative;
  height: 42px;
  border-radius: 8px;
  background: #fff;
  border: solid 1px rgba($color: #000000, $alpha: 0.3);
  margin: 0 1rem;
  overflow: hidden;

  .ContainerIcon {
    padding: 0px 10px;
  }

  &.GridOn .Background {
    margin-left: 50%;
    // border-radius: 0px 8px 8px 0px;
  }

  .Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    height: 100%;
    // border-radius: 8px 0px 0px 8px;
    background-color: $primary;
    transition: margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }
}

/* .Container {
  display: inline-flex;
  width: 88px;
  height: 40px;
  position: relative;
  background-color: red;
  border-radius: 8px;
  padding: 4px 0;

  .ContainerIcon {
    width: 44px;
    padding: 0;
  }

  .Background {
    position: absolute;
    margin-left: 0%;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
  }
} */
