@import "../main.scss";

$drawerWidth             : 240px;
$zIndexDrawer            : 1200;
$childClassMuiDrawerPaper: ".MuiDrawer-paper";

.Container {
  display: flex;
}

.AppBar {
  z-index: $zIndexDrawer + 1;
  transition:
    width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

  &.AppBar-open {
    margin-left: $drawerWidth;
    width      : calc(100% - #{$drawerWidth});
    transition :
      width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
      margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }
  box-shadow: none;
}

.Drawer {
  width      : $drawerWidth;
  flex-shrink: 0;
  white-space: nowrap;
  box-sizing : border-box;
  &.Drawer-open,
  &.Drawer-open :global(#{$childClassMuiDrawerPaper}) {
    width     : $drawerWidth;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    overflow-x: hidden;
  }

  &.Drawer-closed,
  &.Drawer-closed :global(#{$childClassMuiDrawerPaper}) {
    transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    overflow-x: hidden;
    width     : calc(#{spacing(7)} + 1px);
  }
  & :global(.MuiDrawer-paper){
    border-right: none
  }
}

.NormalizeHeader {
  display        : flex;
  align-items    : center;
  justify-content: flex-end;
  padding        : spacing(0, 1);
  min-height     : spacing(7);

  @media (min-width: 0px) and (orientation: landscape) {
    min-height: spacing(6);
  }

  @media (min-width: 600px) {
    min-height: spacing(8);
  }
}

.MenuIcon {
  margin-right: 36px;

  &.MenuIcon-open {
    display: none;
  }
}

.WrapChildren {
  flex-grow: 1;
  height: 100vh;
  overflow : auto;
}

.Children {
  margin: spacing(0, 0);
  max-width: 100%;
}

// SEARCH FIELD
.SearchField{
  :global(.MuiOutlinedInput-root){
    height: 36px;
    background: #FAFAFA;
  }
  :global(.MuiOutlinedInput-notchedOutline){
    border-width: inherit;
    display: none;
  }

}

// NOTICATIONS
.Notifications{
  margin: 0 20px;
}

// AVATAR PROFILE
.ProfileAvatar{
  :global(.MuiOutlinedInput-root){
    height: 36px;
    width: 150px;
    border: none;
    padding-left: 3px;
  }
  :global(.MuiAvatar-root){
    height: 30px;
    width: 30px;
  }
}
.ProfileMenuAvatar{
  :global(.MuiMenu-paper){
    border: getBorder(1px, solid, $black, 0.08);
    overflow: visible;
    box-shadow: $shadow;
    border-radius: $border-radius-sm;
  }
  :global(.MuiMenu-paper)::after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    top: 0;
    right: 14px;
    position: absolute;
    border-top: getBorder(1px, solid, $black, 0.08);
    border-left: getBorder(1px, solid, $black, 0.08);
    box-shadow: $shadow;
    transform: translateY(-50%) rotate(45deg);
    background: #fff;
  }
}

