@use 'sass:math';
@import '../main.scss';

.Toast {
  border-radius: $border-radius-sm;
  box-shadow: $shadow;
  overflow: hidden;
  :global(.MuiPaper-root) {
    :global(.toast) {
      padding: math.div($padding, 2);
      @each $i, $val in $colors {
        &:global(-#{''+$i}) {
          background: getColor($val, 0.2);
          @if $i == success or $i == warning {
            color: darken(getColor($val), 25);
          } @else {
            color: getColor($val);
          }
        }
      }
    }
  }
}
