@import '../main.scss';

$root: '.MuiToolbar-root';

.ToolBar {
  padding-left: 0px;
  padding-right: 0px;
  :global(.MuiTextField-root) {
    :global(.MuiOutlinedInput-root) {
      border-radius: $border-radius-sm;
      height: 42px;
    }
    &:global(.input-search) {
      margin-right: 1rem;
    }
  }
}
