@import '../../main.scss';

.Avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
    border-radius: $border-radius-full;
    overflow: hidden;
    width: 120px;
    height: 120px;
    border: getBorder();
    position: relative;
    & > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      :global(.MuiTextField-root) {
        position: absolute;
        bottom: 0;
        //z-index: $z-300;
        opacity: 0;
        cursor: pointer;
      }
      :global(.MuiIconButton-root) {
        cursor: pointer;
        background: $primary;
        color: $white;
        pointer-events: none;
        margin-bottom: 5px;
      }
    }
  }
}

.Input {
  margin: 15px 0;
}
