@import '../main.scss';

.Button {
  text-transform: none;
  box-shadow: none;
  border-radius: $border-radius-sm;
  &:hover {
    box-shadow: none;
    //box-shadow: 0 8px 16px 0 rgb(2 167  250 / 24%);
  }
  & :global(.MuiButton-startIcon) {
    svg {
      font-size: 16px;
    }
  }
}
