@import '../../main.scss';

.TableContainer {
  background: transparent;
}

.Table {
  background: transparent;
  border-collapse: separate;
  border-spacing: 0px 15px;
}

.TableHead {
  background: #eeeeee;
  /* :global(.MuiTable-root) {
  } */
  tr {
    th {
      border-bottom: none;
    }
  }
}

.TableBody {
  background: #fff;
  tr {
    td {
      border-bottom: none;
    }
    th {
      border-bottom: none;
    }
  }
}
