@function spacing($args...) {
  $result: ();

  @each $arg in $args {
    $result: append($result, $arg * 8px);
  }

  @return $result;
}

@function getBorder($size: 1px, $type: solid, $color: $black, $opacity: 0.2) {
  @return $size $type rgba($color, $opacity);
}

@function getColor($color: $primary, $opacity: 1) {
  @return rgba($color, $opacity);
}
