@use 'sass:math';

/*************** Colors ************/

$primary: #02a7e1;
$secondary: #084b83;
$success: #5dfdcb;
$warning: #ffc857;
$danger: #ff5e5b;
$black: #08090a;
$white: #f4faff;

$colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  warning: $warning,
  danger: $danger,
  black: $black,
  white: $white,
);

/*************** Spacers **********/

$padding: 24px;

/************ Borders **********/
$border-radius: 16px;
$border-radius-sm: math.div($border-radius, 2);
$border-radius-full: 50%;
$border: solid 1px rgba($black, 0.08);

/************ Shadow ********/
$shadow: 0 0 2px 0 rgb(145 158 171 / 24%),
  0 16px 32px -4px rgb(145 158 171 / 24%);

/************* Z-Index *************/
$z-100: 1000;
$z-200: $z-100 * 2;
$z-300: $z-200 + $z-100;
$z-400: $z-300 + $z-100;
$z-500: $z-400 + $z-100;
$z-600: $z-500 + $z-100;
$z-700: $z-600 + $z-100;
$z-800: $z-700 + $z-100;
$z-900: $z-800 + $z-100;
$z-1000: $z-900 + $z-100;
